/* Media Queries */
@media only screen and (min-width: 0px){
	html{
	overflow-x: hidden; 	  /* To prevent horizontal scroll bar at the bottom of the page */
	width: 100vw;
	} 
}  

/* Shipping Section */
.free-Shipping{
	padding: 0.1px;
	background:#333333;
    color:white;
    text-align: center;
    font-family: 'Libre Caslon Display', serif;
}

/* Navigation bar */
.navbar{
	margin-bottom: 0;
}
.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-brand:hover {
    color: black;
}

.navbar-default .navbar-nav li a b{
    color: black;
    font-family: 'Cinzel', serif;
}

.navbar-brand-centered{
	position: absolute;
	top: 25px;
	left: 50%; 
	transform: translate(-50%,-50%);
    text-align: center;
    background-color: none;
	font-family: 'Cinzel', serif;
}

.navbar-buttons{
	padding-left:50px;
	padding-right:50px;
	color: black;
}

/* Adding the background image to the main page */
.background{
	height: 75vh;
	position: relative;
	background: url("img/main-background.jpg") right center;
	background-size: cover;
	width: 100%;
}

/* Brand name subheading over the background image */
.brand-name-subheading{
	font-family: 'Noto Serif JP', serif;
	color: white;
	position: absolute;
	top: 50%;
	left: 40%; 
	transform: translate(-50%,-50%);
}

/* Start of the animation for the 'Shop Now' button in the front page */
.shop-now{
	position: relative;
	text-align: center;
	transition: all 0.5s;
	cursor: pointer;
	background-color: black;
	font-family: 'Raleway', sans-serif;
}

.shop-now span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	color:white;
}

.shop-now span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.shop-now:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}
/* End of the animation */

/* Formatting the text from the interesting short facts section */
.short-facts{
	background:#E6E6E6;
    color:black;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}
/* End of interesting facts section */

/* Trending section*/
/* Title */
.trending-heading{
	text-align: center;
	width: 100%; 
	border-bottom: 1.5px dotted #000; 
	line-height: 0.1em;
	margin: 10px 0 20px;
	font-family: 'Raleway', sans-serif;
}

h2 span{
	background:#fff; 
    padding:0 10px;
}

/* Top products in the trending section represented in 'card' format*/
.card{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
	transition: 0.3s;
	padding: 20px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Media Queries - Adjusting the card size for large, medium, and small resolution screens, to make it responsive */
@media only screen and (min-width: 0px)
{ 
	.card{
		height: 400px;
	}

	.center{
		width: 50%;
	}

	@media only screen and (min-width: 415px)
	{ 
		.card{
			height: 450px;
		}

		.center{
			width: 30%;
		}

		@media only screen and (min-width: 992px) 
		{ 
			.card{
				height:480px;
			}

			.center{
				width: 45%;
			}

			@media only screen and (min-width: 1200px) 
			{ 
				.card{
					height:340px;
				}
				.center{
					width: 50%;
				}	
			}
		}
    }
}

.card:hover{
	box-shadow: 6px 20px 30px 0 rgba(0,0,0,0.1);
}

.card-column{
	padding: 10px 10px;
	margin: auto; 
}
/* End of the trending section */

/* Advertisement about the products offered in the site*/
.advertisement{
	font-family: 'Raleway', sans-serif;
	padding-top: 90px; 
}

.image{
	padding: 0;
}

.ad-description{
	font-size: 20px;
	padding: 185px 40px 185px 40px;
}

.golf, .hike{
	background: #F0EFED;
}

.business{
	background: white;
}

.golf-watch,.business-watch, .hike-watch{
	height: 70vh;
}


/* End of advertisement */

/* Footer Collection */
.footer-1{
	padding: 50px;
	background:white;
}

.footer-2{
	padding: 60px;
	color: #717171;
	text-align: center;
	background:#373737;
}

.payment{
	align-content: center;
}
/* End of footer */
/* End of Home.css*/