body{
	overflow-x: hidden;  /* To prevent horizontal scroll bar at the bottom of the page */
}

/* Shipping Section */
.free-Shipping{
	padding: 0.1px;
	background:#333333;
    color:white;
    text-align: center;
    font-family: 'Libre Caslon Display', serif;
}

/* Navigation bar */
.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-brand:hover {
    color: black;
}

.navbar-default .navbar-nav li a b{
    color: black;
    font-family: 'Cinzel', serif;
}

.navbar-brand-centered{
	align-content: center;
    position: absolute;
	top: 2%;
	left: 45%;
    width: 160px;
    text-align: center;
    background-color: none;
	font-family: 'Cinzel', serif;
}

.navbar-buttons{
	padding-left:50px;
	padding-right:50px;
	color: black;
}

/* Brand name subheading over the background image */
.brand-name-subheading{
	font-family: 'Noto Serif JP', serif;
	position: relative;
	top: -420px;
	left: 160px;
	color:white;
}

/* Adding the background image to the main page */
.background{
	width: 100%; 
	height: 700px;
	background: url("img/Background.jpg") center center/cover;
}

/* Adjusting the height of the 'Shop Now' button */
.shop-now-button{
	height: 0px;
}

/* Start of the animation for the 'Shop Now' button in the front page */
.shop-now{
	position: relative;
	top: -300px;
	left: 160px;
	text-align: center;
	transition: all 0.5s;
	cursor: pointer;
	background-color: black;
	font-family: 'Raleway', sans-serif;
}

.shop-now span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
	color:white;
}

.shop-now span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}

.shop-now:hover span {
	padding-right: 25px;
}

.button:hover span:after {
	opacity: 1;
	right: 0;
}
/* End of the animation */


/* Formatting the text from the interesting facts section */
.short-facts{
	padding: 0.1px;
	background:#E6E6E6;
    color:black;
	font-family: 'Raleway', sans-serif;
}

tab1, tab2{ 
	padding-left: 20em;
	padding: auto;
}
/* End of interesting facts section */

/* Trending section*/
/* Title */
.trending-heading{
	text-align: center;
	width: 100%; 
	text-align: center; 
	border-bottom: 1.5px dotted #000; 
	line-height: 0.1em;
	margin: 10px 0 20px;
	font-family: 'Raleway', sans-serif;
}

h2 span{
	background:#fff; 
    padding:0 10px;
}

/* Top products in the trending section represented in 'card' format*/
.card{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
	transition: 0.3s;
	padding: 20px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}


.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
}

/* Adjusting the card size for large, medium, and small resolution screens, to make it responsive */

@media only screen and (min-width: 0px) { 
	.card{
		height: 450px;
	}

	.center{
		width: 25%;
	}

	@media only screen and (min-width: 500px) { 
		.card{
			height: 350px;
		}

		.center{
			width: 20%;
			}
	
		@media only screen and (min-width: 992px) 
		{ 
			.card{
				height:450px;
			}

			.center{
				width: 45%;
			}


			@media only screen and (min-width: 1200px) 
			{ 
				.card{
					height:340px;
				}
			}
		}
    }
}

.card:hover{
	box-shadow: 6px 20px 30px 0 rgba(0,0,0,0.1);
}

.card-column{
	padding: 10px 10px;
	margin: auto; 
}

/* End of the trending section */

/* Advertisement about the products offered in the site*/
.advertisement{
	font-family: 'Raleway', sans-serif;
}

.golf-watches{
	height: 420px;
}

.golf{
	background: #F0EFED;
	padding-left: 0px;
}

.hike{
	background: #F0EFED;
}

.ad-column{
	padding-left: 0px;
	padding-right: 0px;
}

.ad-description{
	padding-left: 70px;
	padding-right: 70px;
	font-size: 20px;
}
/* End of advertisement */

/* Footer Collection */
.footer-1{
	padding: 50px;
	background:white;
}

.footer-2{
	padding: 75px;
	color: #717171;
	text-align: left;
	background:#373737;
}

.payment{
	position: relative;
	left:90%;
}
/* End of footer */
/* End of Home.css */