/* Smooth scroll effect used when the "add to cart" button is pressed */
html{
    scroll-behavior: smooth;
}

/* Navigation bar */
.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .navbar-brand:hover {
    color: black;
}

.navbar-default .navbar-nav li a b{
    color: black;
    font-family: 'Cinzel', serif;
}

.navbar-brand-centered{
	position: absolute;
	top: 25px;
	left: 50%; 
	transform: translate(-50%,-50%);
    text-align: center;
    background-color: none;
	font-family: 'Cinzel', serif;
}

.navbar-buttons{
	padding-left:50px;
	padding-right:50px;
    color: black;
    padding: auto;
}

/* End of navigation bar */

/* Collection section */
/* Title */
.collection-heading{
	text-align: center;
	width: 100%; 
	text-align: center; 
	border-bottom: 1.5px dotted #000; 
	line-height: 0.1em;
	margin: 10px 0 20px;
	font-family: 'Raleway', sans-serif;
}

h2 span{
	background:#fff; 
    padding:0 10px;
}

/* All the products in the collection section*/
.card{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
	transition: 0.3s;
	padding: 20px;
	font-family: 'Raleway', sans-serif;
    text-align: center;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Media Queries - Adjusting the card size for large, medium, and small resolution screens, to make it responsive */
@media only screen and (min-width: 0px) { 
	.card{
		height: 490px;
	}

	.center{
		width: 50%;
	}

	@media only screen and (min-width: 460px) { 
		.card{
			height: 540px;
		}

		.center{
			width: 30%;
			}
	
		@media only screen and (min-width: 992px) 
		{ 
			.card{
				height:515px;
			}

			.center{
				width: 45%;
            }

			@media only screen and (min-width: 1200px) 
			{ 
				.card{
					height:380px;
                }
                
                .center{
                    width: 45%;
                }
			}
		}
    }
}

.card:hover{
	box-shadow: 6px 20px 30px 0 rgba(0,0,0,0.1);
}

.card-column{
	padding: 10px 10px;
	margin: auto; 
}

.add-to-cart-button{
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.add-to-cart-button:hover{
    color:white;
    background-color: grey;
}
/* End of the collection section */

/* Cart section */
.cart-section{
    font-family: 'Raleway', sans-serif;
    padding-top:50px;
}

.cart-section-header{
	text-align: center;
	width: 100%; 
	text-align: center; 
	border-bottom: 1.5px dotted #000; 
	line-height: 0.1em;
	margin: 10px 0 20px;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: black;
}

.cart-row {
    display: flex;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-item {
    width: 45%;
}

.cart-item-title {
    color: #333;
    font-size: 1.2em;
    margin-right: .5em;
    margin-left: .5em;
}

.cart-item-image {
    border-radius: 10px;
    height: auto;
    width: 75px;
}

.cart-price {
    width: 20%;
    color: #333;
    font-size: 1.2em;
}

.cart-quantity {
    width: 35%;
}

.cart-quantity-input {
    background-color: #eeeeee;
    color: black;
    width: 50px;
    height: 35px;
    padding: none;
    margin-right: 20px;
    border: 1px solid #56CCF2;
    border-radius: 6px;
    font-size: 1.2em;
    text-align: center;
}

.btn-danger{
    background-color: #EB5757;
    color: white;
    font-weight: bold;
    border-radius: .3em;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-subtotal, .cart-tax, .cart-total {
    margin-top: 10px;
    margin-right: 10px;
    text-align: end;
}

.cart-subtotal-title, .cart-tax-title, .cart-total-title {
    margin-right: 20px;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
}

.cart-subtotal-price, .cart-tax-price, .cart-total-price {
    font-size: 1.1em;
    color: #333;
}

.btn-purchase {
    margin: 40px auto 80px auto;
    display: block;
    font-size: 1.7em;
}

.btn-success:hover {
    background-color: #009900;
}

/* End of the cart section */

/* Footer Collection */
.footer-1{
	padding: 50px;
	background:white;
}

.footer-2{
	padding: 75px;
	color: #717171;
	text-align: center;
	background:#373737;
}

.payment{
	align-content: center;
}

/* End of footer */
/* End of Shop.css */